<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exposure</title>
  <link rel="stylesheet" href="css/arquivo.css" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">

</head>

<!--navbar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Exposure</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Serviços</a></li>
      <li><a href="#">Sobre nós</a></li>
      <li><a href="#">Contatos</a></li>
    </ul>
  </div>
</nav>

<!--corpo-->

<body id="imagem">
  <!--welcome-->
  <div class="container">
    <h1 class="glow-on-hover">Bem vindo a Exposure. O novo maior site de serviços para a web!!</h1>
  </div>
  <!--Fim welcome-->
  <!--Intro-->
  <div class="container glow-on-hover">
    <h3>Aqui você vai ver um pouco sobre nós, nossa trajetoria e oque fazemos e tambem a forma de nos encontrar, mas só
      na web hahaha. Bom passeio! =D</h3>
  </div>

  <!--card 1 ***AQUI É O INICIO DOS CARDS,
       ONDE VAI CONTER TODAS AS INFORMAÇÕES
        DOS INTEGRANTES DA ORG.***-->
  <div class="container">
    <div class="card">
      <div class="card__header">
        <img src="../templates/css/imagens/discord-bots-768x432.png" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">PENTEST</span>
        <h4>I' am <b>Pranchado</b></h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus.
          Doloremque, nihil! At ea atque quidem!</p>
        <div>
          <!--Esses são os botões do card 1-->
          <a href="https://t.me/..."><button type="submit">Telegram</button></a>
          <a href="https://wa.me/...."><button type="submit">WhatsApp</button></a>
          <a href="https://facebook.com/..."><button type="submit">Facebook</button></a>
        </div>
      </div>
      <!--Esse é o incio do rodapé do card-->
      <div class="card__footer">
        <div class="user">
          <img src="../templates/css/imagens/pranchado.jpg" alt="user__image" class="user__image">
        </div>
      </div>
    </div>
    <!--fim card 1-->
    <!--card 2-->
    <div class="card">
      <div class="card__header">
        <img src="../templates/css/imagens/i330225.png" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-brown">BOTS</span>
        <h4>I' am <b>Codex</b></h4>
        <p>Fala galera, parece que vocês me encontraram, então ja que estão aqui, vamos lá. Oque eu tenho para vocês
          são: </p>
        <!-- Este é o incio das lista do card 2-->
        <ul>
          <li>Bots para Instagram</li>
          <li>Web-developer</li>
          <li>Conteudos de hacking</li>
          <li>E-book</li>
        </ul>
        <!--Aqui começa os botões do card 2-->
        <div>
          <a href="https://t.me/Codex_dnmx"><button type="submit">Telegram</button></a>
          <a href="wa.me/551983879195"><button type="submit">WhatsApp</button></a>
          <a href="https://facebook.com"><button type="submit">Facebook</button></a>
          <a href="../downloads/" download><button type="submit">Download E-books</button></a>
        </div>
      </div>
      <!--Este é o inicio do rodapé do card 2-->
      <div class="card__footer">
        <div class="user">
          <img src="../templates/css/imagens/codex3.jpg" alt="user__image" class="user__image" width="600">
        </div>
      </div>
    </div>
    <!--Fim card 2-->
    <!--card 3 -->
    <div class="card">
      <div class="card__header">
        <img src="../templates/css/imagens/download.jpeg" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-red">MALWARE</span>
        <h4>I' am <b>Sr. Novaes</b></h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus.
          Doloremque, nihil! At ea atque quidem!</p>
        <div>
          <a href="https://t.me/..."><button type="submit">Telegram</button></a>
          <a href="https://wa.me/..."><button type="submit">WhatsApp</button></a>
          <a href="https://facebook.com/..."><button type="submit">Facebook</button></a>
        </div>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=3" alt="user__image" class="user__image">
        </div>
      </div>
    </div>
    <!--fim card 3-->
    <!--cards 4-->
    <div class="card">
      <div class="card__header">
        <img src="../templates/css/imagens/background.png" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class=" tag tag-blue">EXPLOIT</span>
        <h4>I' am <b>Lisboa</b></h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptas quia. Dignissimos temporibus
          repellat exercitationem asperiores cupiditate maxime, laudantium omnis consequatur iure recusandae voluptas
          rerum debitis voluptatum maiores sunt sapiente.</p>
        <div>
          <a href="https://t.me/..."><button type="submit">Telegram</button></a>
          <a href="https://wa.me/..."><button type="submit">WhatsApp</button></a>
          <a href="https://facebook.com/..."><button type="submit">Facebook</button></a>
        </div>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="../templates/css/imagens/i330225.png" alt="card__image" class="card__image" width="600">
        </div>
      </div>
    </div>
  </div>
  <footer>
    <button id="back-to-top">Back to top</button>
  </footer>
  <div id="serviços">
    <div class="container glow-on-hover">
      <div>
        <h4>
          Depois de dar um passeio por nossos membros, oque acha agora de conhecer os nossos serviços? <a href="#">Clique aqui!!!</a>
        </h4>
      </div>
    </div>
  </div>
  <!--<input type="checkbox" name="" id="btn" class="btn">
  <div class="box">
    <p>Service</p>
    <label for="btn">Close</label>
  </div>-->
</body>
<script src="js/main.js"></script>

</html>